name: linkfive_purchases
description: Manage your in-app subscriptions with the LinkFive plugin - The Easiest Implementation of Subscriptions.
version: 2.1.3
homepage: https://www.linkfive.io
repository: https://github.com/LinkFive/flutter-purchases-sdk
issue_tracker: https://github.com/LinkFive/flutter-purchases-sdk/issues
documentation: https://github.com/LinkFive/flutter-purchases-sdk

environment:
  sdk: ">=2.13.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  in_app_purchase: ^3.0.7
  http: ^0.13.5
  package_info_plus: ^4.0.0
  device_info_plus: ^9.0.0
  in_app_purchase_storekit: ^0.3.1+1
  in_app_purchase_android: ^0.2.3+3
  in_app_purchase_platform_interface: ^1.3.1
  in_app_purchases_interface: ^0.0.8
  in_app_purchases_intl:
    git:
      url: https://github.com/Letalus/flutter-in_app_purchases_paywall.git
      ref: update_dependencies
      path: ./packages/in_app_purchases_intl
    #path: ../../../in_app_purchases_paywall/packages/in_app_purchases_intl
  shared_preferences: ^2.0.15

dev_dependencies:
  test: ^1.21.4
  flutter_lints: ^2.0.1
  mockito: ^5.3.0
  build_runner: ^2.2.0

flutter:
  plugin:
    platforms:
      android:
        package: io.linkfive.linkfive_purchases
        pluginClass: LinkfivePurchasesPlugin
      ios:
        pluginClass: LinkfivePurchasesPlugin
